.contact {
  padding: 50px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

input, textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

button {
  padding: 10px;
  background: #38bdf8;
  border: none;
  cursor: pointer;
}