.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}

.home h1 {
  font-size: 3rem;
}

.home p {
  font-size: 1.5rem;
  color: #94a3b8;
}