.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #020617;
}

.nav-links a {
  margin-left: 20px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}