.card {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  transition: 0.3s;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  color: #94a3b8;
  margin-bottom: 10px;
}

.card a {
  color: #38bdf8;
}